.add-expense2,
.expense {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.expense {
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-gray);
}
.date-input {
  width: 100%;
  box-sizing: border-box; 
  border: none;/* Hide border */
  font-family: var(--font-inter);
}
.h1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.exit-icon {
  width: 18px;
  position: relative;
  height: 14px;
}
.icon,
.item,
.top-frame {
  display: flex;
  align-items: center;
}
.icon {
  flex-direction: column;
  justify-content: flex-start;
}
.item,
.top-frame {
  align-self: stretch;
  flex-direction: row;
}
.top-frame {
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  border: 1px solid var(--color-darkslategray-300);
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  color: var(--color-darkslategray-200);
}
.date-time-picker {
  align-self: stretch;
  flex: 1;
}
.date4 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.amount4,
.date4,
.form,
.input-container {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.amount4 {
  border: 1px solid var(--color-darkslategray-300);
  outline: 0;
  font-weight: 100;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  color: var(--color-darkslategray-200);
}
.form,
.input-container {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-6xl);
}
.form {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.add-expense3 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button2,
.container4 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-orangered);
  width: 286px;
  height: 48px;
  border-radius: var(--br-5xs);
  flex-shrink: 0;
  flex-direction: row;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.container4 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-38xl);
  gap: var(--gap-11xl);
}
.add-modal {
  width: 400px;
  height: 450px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
