.add-expense,
.expense-name {
  font-family: var(--font-inter);
}
.add-expense {
  margin-block-start: 0;
  margin-block-end: 6px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
}
.expense-name {
  margin: 0;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.add-expense-container {
  position: relative;
  color: var(--color-darkslategray-100);
  text-align: left;
}
.amount-service-provider-label {
  height: 14px;
  width: 18px;
  position: relative;
}
.sub-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.service-provider {
  width: 103px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 13px;
  position: relative;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.amount {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslategray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.date1 {
  width: 25px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 13px;
  position: relative;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.date {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslategray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.amount1 {
  width: 42px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 13px;
  position: relative;
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.content,
.input,
.name {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.name {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.content,
.input {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-6xl);
}
.content {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.vector-icon {
  height: 16px;
  width: 16px;
  position: relative;
}
.add-expense1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 95px;
}
.container1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xl);
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.button,
.container {
  align-self: stretch;
  display: flex;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-3xs);
  background-color: var(--color-orangered);
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.add-modal,
.addform {
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
}
.addform {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-34xl) var(--padding-38xl);
}
.add-modal {
  width: 471px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 451px) {
  .addform {
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
