.add-expense4,
.expense1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.expense1 {
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-gray);
}
.h11 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.exit-icon1 {
  width: 18px;
  position: relative;
  height: 14px;
  object-fit: cover;
}
.icon1,
.item1,
.top-frame1 {
  display: flex;
  align-items: center;
}
.icon1 {
  flex-direction: column;
  justify-content: flex-start;
}
.item1,
.top-frame1 {
  align-self: stretch;
  flex-direction: row;
}
.top-frame1 {
  flex-wrap: wrap;
  justify-content: space-between;
}
.item1 {
  border: 1px solid var(--color-darkslategray-300);
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  color: var(--color-darkslategray-200);
}
.date-time-picker1 {
  align-self: stretch;
  flex: 1;
}
.date5 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkslategray-300);
  box-sizing: border-box;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.amount5,
.date5,
.form1,
.input-container1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.amount5 {
  border: 1px solid var(--color-darkslategray-300);
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  color: var(--color-darkslategray-200);
}
.form1,
.input-container1 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-6xl);
}
.form1 {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon3 {
  width: 16px;
  position: relative;
  height: 16px;
}
.add-expense5 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.button3,
.container5 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-3xs);
  background-color: var(--color-orangered);
  border-radius: var(--br-5xs);
  flex-direction: row;
  gap: var(--gap-3xs);
}
.container5 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-38xl);
  gap: var(--gap-11xl);
}
.edit-modal {
  width: 400px;
  max-width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
