.effortlessly,
.home-expenses,
.stay-on-top {
  margin: 0;
}
.stay-on-top-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.effortlessly-stay-in {
  width: 563px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.learn-more {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.learnmore {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 8px 19px;
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.button2:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.text-wrapper {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  max-width: 100%;
}
.hero,
.landingpage,
.left-content,
.text-wrapper {
  display: flex;
  justify-content: flex-start;
}
.left-content {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.hero,
.landingpage {
  align-items: center;
}
.hero {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 118.5px 93px;
  box-sizing: border-box;
  background-image: url(/public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: 56px;
  color: #fff;
  font-family: Inter;
}
.landingpage {
  width: 100%;
  position: relative;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .stay-on-top-container {
    font-size: 45px;
  }
  .hero {
    padding: 77px 46px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .stay-on-top-container {
    font-size: 34px;
  }
  .hero {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
