@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.logo-icon {
  width: 86px;
  height: 23px;
  position: relative;
  object-fit: contain;
  filter: brightness(0) invert(0); /* This will turn the image black */
}

.logo {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

.homeicon, .dashicon, .contacticon {
  height: 13.3px;
  width: 13.3px;
}

.elecicon {
  height: 18px;
  width: 16px;
}

.watericon {
  height: 16.4px;
  width: 18px;
}

.foodicon {
  height: 18px;
  width: 18px;
}

.miscicon {
  height: 16px;
  width: 16.7px;
}

.abouticon {
  height: 10.7px;
  width: 13.5px;
}

.signouticon {
  height: 16px;
  width: 18px;
  object-fit: cover;
}

.navlinks {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 14px 15px;
  gap: 15px;
  top: 0;
  z-index: 99;
  position: sticky;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  outline: none;
  box-shadow: none;
}

.navlinks:hover {
  background-color: #f0f0f0;
}

.navlinks:focus {
  outline: none;
}

.dashboard,
.electricity,
.water,
.food,
.maintenance,
.miscellaneous,
.about,
.contact-us,
.sign-out,
.home {
  flex: 1;
  font-size: 14px; 
  font-weight: 600;
  font-family: 'Inter', sans-serif; 
  color: #181818;
  text-align: left;
}

.drawer {
  width: 219px;
  opacity:1;
  min-height: 1064px;
  letter-spacing: normal;
  line-height: normal;
  height: 100%;
  max-width: 90%;
  overflow: auto;
  text-align: left;
  font-size: 14px; 
  color: #181818; 
  font-family: 'Inter', sans-serif; 
  border: none;
  outline: none;
  box-shadow: none;
  background-color: white;
}

.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}

.container,
.options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container {
  gap: 5px;
}

/* Ensuring no black borders on hover, focus, or active states */
.navlinks, .navlinks * {
  border: none;
  outline: none;
  box-shadow: none;
}
