.miscicon1 {
  height: 30px;
  width: 31.3px;
  position: relative;
  object-fit: contain;
}
.miscellaneous7,
.total21 {
  position: relative;
  display: inline-block;
}
.miscellaneous7 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  min-width: 175px;
  max-width: 100%;
}
.total21 {
  font-size: 10px;
  font-weight: 500;
  font-family: Inter;
  color: #00804a;
  text-align: left;
  min-width: 33px;
}
.label11,
.total20 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total20 {
  cursor: pointer;
  border: 1px solid #00804a;
  padding: 3px 9px;
  background-color: rgba(90, 255, 186, 0.25);
  width: 53px;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  white-space: nowrap;
}
.total20:hover {
  background-color: rgba(38, 204, 135, 0.25);
  border: 1px solid #26a670;
  box-sizing: border-box;
}
.label11 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
}
.misctotal1 {
  position: relative;
  font-size: 40px;
  font-weight: 800;
  display: inline-block;
  min-width: 108px;
  white-space: nowrap;
}
.misccard1 {
  align-self: stretch;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  min-height: 200px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #343434;
  font-family: Inter;
}
@media screen and (max-width: 825px) {
  .miscellaneous7 {
    font-size: 26px;
  }
  .misctotal1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  .miscellaneous7 {
    font-size: 19px;
  }
  .misctotal1 {
    font-size: 24px;
  }
}
