.privacy-policy {
  position: relative;
  font:100;
}
.privacy-policy-wrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.blank-line,
.blank-line1,
.blank-line2,
.homeex-is-committed,
.information-we-collect,
.we-collect-two {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line3,
.personal-information-this-is-i {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.usage-data-this-is-information {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line4,
.how-we-use-your-information {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line5,
.blank-line6,
.sharing-your-information,
.we-understand-the,
.we-use-the {
  margin-block-start: 0;
  margin-block-end: 8px;
}


.blank-line7,
.with-service-providers-we-part {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line8,
.in-the-event-of-a-business-tra {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.to-comply-with-the-law-we-may {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line9,
.data-retention {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line10,
.we-will-retain,
.your-choices {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line11,
.security,
.you-have-the {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.blank-line12,
.contact-us1,
.if-you-have,
.we-take-reasonable {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.homeex-is-committed-container {
  align-self: stretch;
  position: relative;
  font-size: 20px;
}
.section,
.textcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.textcontainer {
  align-self: stretch;
  padding: 0 124px;
  gap: 24px;
}
.section {
  background-color: white;
  max-width: 100%;
  padding: 120px;
  box-sizing: border-box;
  text-align: left;
  font-size: 40px;
  color: black;
}

.section b{
  font-weight: 800;
}

.section p{
  font-weight: 200;
}




@media screen and (max-width: 750px) {
  .section {
    width: 100%;
    padding: 30px;
    padding-left: 2px;
    padding-right: 2px;
  }
}